
body {
    width: 100%
}
.menu-items li {
    display : inline-block;
    padding : 0 20px 0 20px;
}

nav {
    font-family: Candara;
    background-color:hotpink;
    width: 100%
}

.menu{
 display: inline-block;
}
.icons{
    display: inline-block;
    position: relative;
    left: 42%;
    top: 0px;
}
.bracket-icon{
    display: inline-block;
    margin-left: 25px;
}

p {
    text-align: center;
}



.stage {
    background-color: aquamarine;
    width: 600px;
    height: 100px;
}

#one {
    background-color: red;
    width: 100px;
    height: 100px; 
    display: inline-block;
    top: 0px;
    left: 83%;
    position: relative;
}

#two {
    background-color: green;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#three {
    background-color: purple;
    width: 100px;
    height: 100px; 
    display: inline-block;
}
#images{
    margin-right: 10px;
}
.sub-content{
    font-size:52px;
    font-family: Cambria; 
    padding: 50px 120px 40px 120px;
    text-align:center;
}
.link {
    text-align:center;
    padding: 20px 15px 20px 15px;
    background-color:#2098f5;
    width:45%;
    color: white;
    font-family: Candara;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
}
.sub-link{
    text-align:center;
}
.other{
    text-align:center;
    margin-top : 50px;
    
}
.download{
    text-decoration: none;
}
.im{
    text-align:center;
    margin-top: 65px
}
.para {
  padding: 75px;
  font-family: Candara;
  font-size: 24px;
  text-align: justify;
  line-height: 1.5;
    
}
.bracket {
    display:inline-block;
    width: 45%;
    height: 200px;
    padding: 20px;
    font-family: Candara;
    font-size: 18px;
}
.hart{
    display:inline-block;
    width: 45%;
    height: 200px;
    padding: 20px;
    font-family: Candara;
    font-size: 18px;
}

.middle-content {
    width: 100%;
}